<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservationtool.mapper.UserMapper">
    <select id="findUserByUserId" resultType="reservationtool.domain.model.User">
        select
        user_id,
        password,
        first_name,
        last_name,
        role_name
        from
        usr
        where
        user_id = #{userId}
    </select>
</mapper>